<%- include("header") -%>

<div class='container' >
<h3>About Project</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam distinctio sapiente exercitationem repudiandae dicta excepturi tenetur totam nisi suscipit minus tempore, temporibus neque voluptatum assumenda, culpa officiis ipsum! Exercitationem, magni?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam distinctio sapiente exercitationem repudiandae dicta excepturi tenetur totam nisi suscipit minus tempore, temporibus neque voluptatum assumenda, culpa officiis ipsum! Exercitationem, magni?</p>

</div>

<%- include("footer") -%>