<%- include("header") -%>

<div class='container pb-5 pt-5'  >
<h3>Write New Articles</h3> <hr>
<form action="/new" method="post">
    <div class=" mb-3">
        <input type="text" placeholder="Article Title" class="form-control" name='title'>
    </div>

    <div class=" mb-3">
        <input type="url" placeholder="Place image url" class="form-control" name='image'>
    </div>

    <div class=" mb-3">
        <textarea placeholder="Type content here..." class="form-control" name='content' rows='7'> </textarea>
    </div>
    <div class='row'>
        <div class='col-2'>
        <button class='btn btn-success' type='submit'> Save Article </button>
        </div> 
        <div class='col-2'>
        <button class='btn btn-secondary' type='reset'> Reset Form </button>
        </div> 
        </div>
        

</form>
<% if (result!='') { %>
<div class='alert-success'> <h2><%= result %></h2></div>
  <% } %>
  
</div>

<%- include("footer") -%>